<p>
  <%= image_tag "bg-heigen.png" %>
</p>
<div class="message">
  <p>
    <%= flash[:notice] %>
  </p>
  <p>
    探検中！
  </p>
</div>
<p>
  <%= link_to "進む",:action => :index %>
</p>
<p>
  <%= link_to "薬草",:action => :restoration %>
</p>
