<p>
  <%= image_tag @enemy.image %>
</p>
<p>
  敵が現れた！
</p>
<p>
  <%= @enemy.name %>
</p>
<p>
  <%= link_to "戦う", :action => :start, :enemy_id => @enemy.id %>
</p>
<p>
  <%= link_to "逃げる", :action => :escape, :enemy_id => @enemy.id %>
</p>
